<style>
    .quiz_entry {
        height: 85vh;
        /* background-image: url('img/bg/ChinaMap.jpg');
        background-size:100% 100%;
        background-attachment:scroll; */
        background-color:lightcyan;
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .quiz_entry h1 {
        font-size: 80px;
        font-weight: 1000;
    }

    .quiz_entry h2 {
        font-size: 40px;
    }

    .quiz_entry button {
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 24px;
        margin: 50px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 30px;
    }

    .quiz_entry button:hover {
        background-color:aqua;
        color: rgb(255, 255, 255);
        border: 2px solid aqua;
    }

    .quiz_entry son_box{
        position: absolute;
        margin: auto;
    }
</style>

<div class="quiz_entry">
    <div>
        <h1 class="title"> WE ARE DIFFERENT IN EVERYWAYS</h1>
        <h2> You may want to do a little quiz </h2>
        <h3> see the highlight ... </h3>
        <button> start explore map </button>
        <button> Do a quiz to find your best destination first </button>
    </div>
</div>