<style>
    .tips {
        height: 85vh;
        /* background-image: url('img/bg/ChinaMap.jpg');
        background-size:100% 100%;
        background-attachment:scroll; */
        background-color:rgb(72, 195, 195);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
    }

    .tips .upper {
        margin-left: 40px;
        margin-top: 100px;
    }

    .tips .upper h1 {
        font-size: 60px;
        font-weight: 1000;
    }

    .tips .contact{
        text-align: right;
        margin-right: 50px;
    }

    .tips .contact-button {
        padding: 8px 12px;
        text-align: center;
        display: inline-block;
        font-size: 24px;
        margin-right: 5px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 2px solid white;
        border-radius: 15px;
    }

    .tips .contact-button:hover{
        background-color: white;
        color: rgb(72, 195, 195);
    }

    .image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .image-container img {
        margin: 10px;
        height: 500px;
        width: 17%;
        transition: width 0.3s, transform 0.3s;
    }

    .image-container img:hover {
        transform: scale(1.1);
    }

</style>

<div class="tips">
    <div class="upper">
        <h1> CRAFTING YOUR DREAM TRIPS</h1>
        <h1> INTO REALITY </h1>
    </div>

    <div class="contact">
        <a href="/contact" class="contact-button"> CONTACT US TO KNOW MORE </a>
    </div>
    
    <div class="image-container">
        <img src="/img/bg/ChinaMap.jpg" class="image">
        <img src="/img/bg/ChinaMap.jpg" class="image">
        <img src="/img/bg/ChinaMap.jpg" class="image">
        <img src="/img/bg/ChinaMap.jpg" class="image">
        <img src="/img/bg/ChinaMap.jpg" class="image">
    </div>
</div>
